<h1>EAT BURGERS!</h1>

<h2>Devour the burgers</h2>

<ul>
  {{#each burgers}}
    {{#unless devour}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers not devoured</h2>

<ul>
  {{#each burgers}}
    {{#if sleepy}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burger_name">
  </div>

  <div class="form-group">
    <label for="devour">Devour</label><br>
    <input type="radio" name="devour" value="1" checked> Devour!<br>
    <input type="radio" name="devour" value="0"> none
  </div>

  <button type="submit">Add Burger</button>
</form>